

.board {
  --cellSize: 3.2rem;
  --blackStone: #000;
  --whiteStone: #fff;
}

.gameInformation {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
}

.gameInformation * + * {
  margin-left: 10px;
}

.point {
  width: var(--cellSize);
  height: var(--cellSize);
  position: relative;
  background:
    linear-gradient(
      90deg,
      rgba(208, 147, 82, 0.6),
      rgba(192, 134, 70, 0.6) 60%,
      rgba(208, 147, 82, 0.6)
    ),
    repeating-radial-gradient(
      ellipse at 60% 500%,
      #c08646,
      #c08646 0.2%,
      #d09352 0.6%,
      #d09352 1%
    );
}

.point:hover {
  opacity: 0.8;
}

.point::before {
  border-left: 1px solid #444;
  content: ' ';
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.point::after {
  border-top: 1px solid #444;
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.stone {
  background: var(--whiteStone);
  border: 1px solid var(--blackStone);
  border-radius: var(--cellSize);
  width: calc(var(--cellSize) - 10%);
  height: calc(var(--cellSize) - 10%);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.stone.black {
  background: var(--blackStone);
}
